* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1rem;
}



/*-----------------------  NAV BAR  ----------------------- */

header {
  background-color: white;
}

.top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem 0;
}

.search-bar {
  width: 50%; 
}

.search-bar input {
  width: 100%;
  padding: 0.45rem 0.8rem;
  border-radius: 20px;
  border: 1px solid rgba(0,0,0,0.12);
  background: #f3f4f6;
  font-size: 0.95rem;
  outline: none;
  text-align: center;
}

.search-bar input:focus {
  border-color: #c01717;
}

.icons 
{
  display:flex; 
  align-items:center; 
  gap: 0.5rem;
}

.icon-btn{
  background: #fff;
  border:1px solid rgba(0,0,0,0.12); 
  padding:0.25rem 0.4rem;
  border-radius:6px; 
  cursor:pointer;
}

.btn.auth {
  background:#e01b1b; 
  color:#fff; 
  padding:0.35rem 0.7rem; 
  border-radius:8px; 
  text-decoration:none; 
  font-weight:600;
}

.btn.auth:hover {
  background:#c01717; 
  transition:background 0.3s;
}

.logo img {
  height: 120px;
}

.sections {
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding-bottom: 0.6rem;
}

.sections a {
  display:inline-block;
  background:#cccccc;
  padding:0.25rem 0.7rem;
  margin-top: -26px;
  border-radius:14px;
  color:#000000;
  font-weight:600;
  box-shadow:0 4px 10px rgba(0,0,0,0.04);
  text-decoration:none;
}

.sections a:hover {
  background:#c01717;
  color:#ffffff;
  transition:background 0.3s, color 0.3s;
}

/*-----------------------  NAV BAR  ----------------------- */

/*-----------------------  HERO SECTION  ----------------------- */

.hero {
  position: relative;
  width: 100%;
  height: 720px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero img {
  width: 100%;
  height: auto;
  filter: brightness(70%);
}

.hero-inner {
  position: absolute;
  text-align: center;
  color: white;
  padding: 0 1rem;
}

.hook {
  display: inline-block;
  background: #e01b1b;
  box-shadow: 0 8px 24px rgba(224, 27, 27, 0.101);
  color: white;
  padding: 0.25rem 0.75rem;
  border-radius: 18px;
  font-weight: 700;
  font-size: 1rem;
  /* margin-bottom: 1rem; */
}

.hero-inner h1 {
  font-size: 4rem;
  line-height: 1.6;
  font-weight: 750;
  letter-spacing: -0.02em;
}

.description {
  color: rgb(255, 255, 255);
  margin-bottom: 1.2rem;
  font-size: 1.2rem;
  line-height: 1.6;
  font-weight: 500;
}

.btn-ShopNow {
  display: inline-block;
  background: #e01b1b;
  color: white;
  padding: 0.65rem 1.1rem;
  border-radius: 8px;
  font-weight: 700;
  text-decoration: none;
  box-shadow: 0 8px 24px rgba(224, 27, 27, 0.101);
}

.btn-ShopNow:hover {
transform: translateY(-2px);
box-shadow: 0 10px 28px rgba(224,27,27,0.22);
}
/*-----------------------  HERO SECTION  ----------------------- */

/*-----------------------  BRANDS SECTION  ----------------------- */

