<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">  For Flask -->
  <link rel="stylesheet" href="/Elherafeen/static/css/style.css"> <!-- Temp For Local Testing -->
  <title>Elherafeen Store</title>
</head>
<body>
  <main>
  
    <header>

      <div class="container">
        <div class="top-row">
          
          <div class="logo"><img src="/Elherafeen/static/images/icons/ELHERAFEEN LOGO BLACK.png" alt="ELHERAFEEN"></div>
          
          <div class="search-bar">
            <input type="search" placeholder="Search for parts">
          </div>

          <div class="icons">
          <button type="button" class="icon-btn">❤</button>
          <button type="button" class="icon-btn">🛒</button>
          <a class="btn auth" href="/login">Login</a>
          </div>
        </div>

        <nav class="sections">
          <a href="#">Section 1</a>
          <a href="#">Section 2</a>
          <a href="#">Section 3</a>
          <a href="#">Section 4</a>
          <a href="#">Section 5</a>
        </nav>
        
      </div>

    </header>
  
    <section class="hero">
      <img src="/Elherafeen/static/images/other/11.jpeg" alt=""> 
      <div class="hero-inner">
        <p class="hook">Up to 40% Off This Week</p>
        <h1> Quality Auto Parts for Every Vehicle</h1>

        
        <p class="description">Find the perfect parts for your car with fast shipping and expert support.
        <br>Over 1 million parts in stock from trusted brands.</p>
          
        <a class="btn-ShopNow" href="/products" role="button">Shop Now →</a>
          
      </div>
    </section>
  
    <section class = "brands">
      <div class="shop">
        <h2>Shop by Brand</h2>
        <p> Browse our extensive selection of auto parts organized by category</p>
      </div>
      <div class="brand-grid">
        <figure class="brand-card">
          <img src="/Elherafeen/static/images/brands/Benz Card.png" alt="Audi">
          <figcaption>Benz</figcaption>
          <button class="brand-go" aria-label="View Audi products"></button>
        </figure>
        <figure class="brand-card">
          <img src="/Elherafeen/static/images/brands/Benz Card.png" alt="Audi">
          <figcaption>Benz</figcaption>
          <button class="brand-go" aria-label="View Audi products"></button>
        </figure>
        <figure class="brand-card">
          <img src="/Elherafeen/static/images/brands/Benz Card.png" alt="Audi">
          <figcaption>Benz</figcaption>
          <button class="brand-go" aria-label="View Audi products"></button>
        </figure>
        <figure class="brand-card">
          <img src="/Elherafeen/static/images/brands/Benz Card.png" alt="Audi">
          <figcaption>Benz</figcaption>
          <button class="brand-go" aria-label="View Audi products"></button>
        </figure>
        <figure class="brand-card">
          <img src="/Elherafeen/static/images/brands/Benz Card.png" alt="Audi">
          <figcaption>Benz</figcaption>
          <button class="brand-go" aria-label="View Audi products"></button>
        </figure>
        <figure class="brand-card">
          <img src="/Elherafeen/static/images/brands/Benz Card.png" alt="Audi">
          <figcaption>Benz</figcaption>
          <button class="brand-go" aria-label="View Audi products"></button>
        </figure>
        <figure class="brand-card">
          <img src="/Elherafeen/static/images/brands/Benz Card.png" alt="Audi">
          <figcaption>Benz</figcaption>
          <button class="brand-go" aria-label="View Audi products"></button>
        </figure>
        <figure class="brand-card">
          <img src="/Elherafeen/static/images/brands/Benz Card.png" alt="Audi">
          <figcaption>Benz</figcaption>
          <button class="brand-go" aria-label="View Audi products"></button>
        </figure>
        
      </div>
    </section>
  
    <section class="featured-products">
      <h2>Featured Products</h2>
      <button>View All</button>
      <p> Top-rated parts from trusted brands</p>
      <div class="product-grid">
        <div class="product-card">
          <div class="image-placeholder"></div>
          <p>Product Category</p>
          <h3>Product Name</h3>
          <p>$$$$$$</p>
          <button type="button">add to cart</button>
        </div>
      
        <div class="product-card">
          <div class="image-placeholder"></div>
          <p>Product Category</p>
          <h3>Product Name</h3>
          <p>$$$$$$</p>
          <button type="button">add to cart</button>
        </div>
      
        <div class="product-card">
          <div class="image-placeholder"></div>
          <p>Product Category</p>
          <h3>Product Name</h3>
          <p>$$$$$$</p>
          <button type="button">add to cart</button>
        </div>
      
        <div class="product-card">
          <div class="image-placeholder"></div>
          <p>Product Category</p>
          <h3>Product Name</h3>
          <p>$$$$$$</p>
          <button type="button">add to cart</button>
        </div>
        
      </div>
    </section>
  
    <footer>
      <h2>Get In Touch</h2>
    </footer>
  
  </main>
</body>
</html>