<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
  <title>Elherafeen Store</title>
</head>

<body>
  
  <header>
    <div class="left">Logo</div>
    <div class="center">links</div>
    <div class="right">icons</div>
  </header>

  <section class="hero">
    <h1> Quality Auto Parts for Every Vehicle</h1>
    <p> Find the perfect parts for your car with fast shipping and expert support. 
    Over 1 million parts in stock from trusted brands
    </p>
    <button>Shop Now</button>
  </section>

  <section class = "brands">
    <h2>Shop by Brand</h2>
    <p> Browse our extensive selection of auto parts organized by category</p>
    <div class="brand-grid">
      <div class="brand-card">brand 1</div>
      <div class="brand-card">brand 2</div>
      <div class="brand-card">brand 3</div>
      <div class="brand-card">brand 4</div>
      <div class="brand-card">brand 5</div>
      <div class="brand-card">brand 6</div>
      <div class="brand-card">brand 7</div>
      <div class="brand-card">brand 8</div>
    </div>
  </section>

  <section class="Featured-Products">
    <h2>Featured Products</h2>
    <button>View All</button>
    <p> Top-rated parts from trusted brands</p>
    <div class="Product-grid">

      <div class="Product-card">
        <div class="image-placeholder"></div>
        <p>Product Category</p>
        <h3>Product Name</h3>
        <p>$$$$$$</p>
        <button>add to cart</button>
      </div>

      <div class="Product-card">
        <div class="image-placeholder"></div>
        <p>Product Category</p>
        <h3>Product Name</h3>
        <p>$$$$$$</p>
        <button>add to cart</button>
      </div>

      <div class="Product-card">
        <div class="image-placeholder"></div>
        <p>Product Category</p>
        <h3>Product Name</h3>
        <p>$$$$$$</p>
        <button>add to cart</button>
      </div>

      <div class="Product-card">
        <div class="image-placeholder"></div>
        <p>Product Category</p>
        <h3>Product Name</h3>
        <p>$$$$$$</p>
        <button>add to cart</button>
      </div>
      
    </div>
  </section>

  <footer>
    <h2>Get In Touch</h2>
  </footer>

</body>
</html>